@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body{
  background-color: #DADADA;
}

a,a:hover{
  text-decoration: none;
  color: unset;
}

.container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

main{
  padding: 30px;
}

.mb-30{
  margin-bottom: 30px;
}